.nav {
  height: 100px;
  margin-top: 50px;
}

a.nav-link {
  color: #083D77;
}

.logo {
  height: 50px;
}

.btn-outline-danger {
  border-color: #083D77;
  color: #083D77;
}

.btn-outline-danger:hover {
  background-color: #083D77;
  border-color: #083D77
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn:focus {
  outline: none;
}


/* Focus sur les input dans bootstrap */

textarea:focus,
input:focus,
.btn:focus {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(104, 207, 239, 0.6);
    outline: 0 none;
}