.nav {
  height: 100px;
  margin-top: -370px;
}

a.nav-link {
  color: #083D77;
}

.logo {
  font-size: 80px;
  color: white;
  margin-left: 20px;
}

.logo-mooviz {
  margin-left: 600px;
  margin-top: 30px;
  padding-left: -500px;
  font-family: Dokdo;
  font-size: 80px;
  color: #083D77;
}

.global-heigh {
  min-height: 100vh;
}

.btn-outline-danger {
  border-color: #083D77;
  color: #083D77;
}

.btn-outline-danger:hover {
  background-color: #083D77;
  border-color: #083D77
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn:focus {
  outline: none;
}

textarea:focus,
input:focus,
.btn:focus {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(104, 207, 239, 0.6);
    outline: 0 none;
}


/* Fonds de couleur */
.colored {
  margin-top: -140px;
  height: 500px;
  background-image: linear-gradient(to right bottom, #37cbc5, #00b6da, #009df4, #007dff, #124deb);
  -webkit-clip-path: polygon(0 0, 48% 0, 11% 31%, 0% 100%);
  clip-path: polygon(0 0, 48% 0, 11% 31%, 0% 100%);
}
.colored-bottom {
  margin-top: -470px;
  height: 500px;
  background-image: linear-gradient(to right bottom, #37cbc5, #00b6da, #009df4, #007dff, #124deb);
  -webkit-clip-path: polygon(100% 79%, 46% 100%, 100% 100%);
  clip-path: polygon(100% 79%, 46% 100%, 100% 100%);
}


/*
** FLOATING IMAGE 
*/

.img-float2 {
  position: absolute;
  margin-top: -1275px;
  margin-left: 20px;
  box-sizing: border-box;
  height: 160px;
  z-index: 1;
  animation: floating2 9s ease-in-out 0s infinite alternate;
}

@keyframes floating2 {
  0% {
      transform: translateX(45%);
      
  }
  50% {
      transform: translateX(85%);
      transform: rotate(0deg);
      
  }
  100% {
      transform: translateX(25%);
      transform: rotate(360deg);
  }
 
}